.footer {
    padding: 70px 0;
    background-color: #f8f9fa;
    font-size: 14px;
    .footer-title {
        width: 60px;
        height: auto;
    }
  }
  
  .footer-heading {
    font-weight: bold;
    margin-bottom: 1rem;
    padding-top: 50px;
  }
  
  .footer-list {
    padding: 0;
    list-style: none;
  }
  
  .footer-item {
    padding-bottom: 0.5rem;
    cursor: pointer;
    color: #6c757d;
  }
  
  .footer-item:hover {
    text-decoration: underline;
  }
  
  .footer-section {
    margin-bottom: 1.5rem;
  }
  